.geolocation-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  visibility: hidden;

  &--visible {
    visibility: visible;
  }
}

.geolocation-message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.geolocation-message__error {
  color: $color-error;
}

.geolocation-message__btn-open-map {
  padding: 16px;

  color: $color-extra;
  background-color: $color-base;

  font-size: 14px;
  line-height: 16px;

  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $color-hover-0;
  }
}
