.geolocation-map {
  @include absolute(0, 0, 0, 0, 2);

  visibility: hidden;

  &--visible {
    visibility: visible;
  }
}

.geolocation-message {
  @include absolute(0, 0, 0, 0, 1);

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.geolocation-message__error {
  color: $color-error;
}

.geolocation-message__btn-open-map {
  padding: 16px;

  color: $color-extra;
  background-color: $color-base;

  font-size: 14px;
  line-height: 16px;

  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $color-hover-0;
  }
}

// modifiers

.infoblock__title--compass-image {
  background: url('@sections/Location/assets/compass_x60.png') right center no-repeat;
}
