.todo-list {
  display: flex;
  flex-wrap: wrap;
}

.todo {
  position: relative;
  width: 48%;

  margin-right: 2%;
  margin-bottom: 2%;

  background-color: $color-hue-2;

  &::before {
    content: '';
    @include absolute(auto, 6px, 6px, auto, 2);

    width: 30px;
    height: 30px;

    background-color: $color-hue-2;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    @include absolute(auto, 0, 0, auto, 1);

    width: 20px;
    height: 20px;

    background-color: $color-hue-0;
  }
}

.todo__title {
  padding: 10px 50px 10px 20px;
}

.completed {
  text-decoration: line-through;
  color: $color-base;
}
