// search form

.search-form_input {
  width: 35%;
  margin: 0 0 35px 0;
  padding: 9px 12px;
  font-size: 14px;
  background-color: $color-hue-2;
  border-radius: 3px;
  border: 1px solid transparent;
  color: $color-base-ext;

  &::placeholder {
    color: $color-hue-1;
  }

  &:focus {
    background-color: $color-extra;
  }
}

// book list

.book-list {
  max-width: 1000px;
}

.book-list__item {
  display: flex;
  align-items: center;
  padding: 3px 0;
  margin-bottom: 2px;

  &:hover {
    background-color: $color-hue-1;
    border-radius: 3px;
  }
}

.book-list__item_active {
  display: flex;
  align-items: center;
  padding: 3px 0;
  margin-bottom: 2px;

  background-color: $color-hue-1;
  border-radius: 3px;
}

.book-list__title {
  margin: 0;
  padding: 0 2% 0 1%;
  width: 45%;
  font-weight: normal;
  font-size: inherit;
}

.book-list__author {
  margin: 0;
  padding: 0 2%;
  width: 30%;
}

.book-list__year {
  margin: 0;
  padding: 0 2%;
  width: 7%;
  text-align: center;
  font-size: smaller;
}

.book-list__btns {
  margin: 0;
  padding: 0 1%;
  width: 10%;
  text-align: right;
}

.book-list__btn-about {
  padding: 8px;
  border-radius: 2px;
  color: $color-common;
  background-color: $color-hue-2;

  &:hover,
  &:focus {
    background-color: $color-hover-0;
  }

  &--active {
    padding: 8px;
    border-radius: 2px;
    color: $color-common;
    background-color: $color-base;
    cursor: default;
  }
}

// book covers

@mixin btn-shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.book-covers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 0 10px;
}

.book-covers__item {
  position: relative;

  &:focus .book-covers__cell,
  &:hover .book-covers__cell {
    display: block;
  }
}

.book-covers__img {
  width: 250px;
}

.book-covers__cell {
  position: absolute;
  top: 0;
  left: 0;

  padding: 10px 0 10px 10px;
  display: none;

  &--active {
    @extend .book-covers__cell;

    display: block;
  }
}

.book-covers__btn-about {
  padding: 10px 14px;
  border-radius: 2px;

  color: $color-common;
  background-color: $color-base;

  font-size: 14px;

  @include btn-shadow;

  &:focus,
  &:hover {
    color: $color-common;
    background-color: $color-hover-0;
  }

  &--active {
    @extend .book-covers__btn-about;

    color: $color-base;
    background-color: $color-detail;

    cursor: default;

    &:focus,
    &:hover {
      color: $color-base;
      background-color: $color-detail;
    }
  }
}
