.footer {
  @include absolute(auto, 7px, 0, auto);
  font-size: 70%;
  color: $color-hue-1;
}

.footer__link {
  color: $color-hue-1;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $color-common;
  }
}
