.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;

  &--hide {
    visibility: hidden;
  }
}

.modal__background {
  @include absolute(0, 0, 0, 0, 1);

  background-color: $color-base;
  opacity: 0.8;
}

.modal__container {
  position: relative;
  z-index: 2;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  color: $color-base;
  background-color: $color-common;

  opacity: 1;
}

.modal__body {
  margin: 12px;
}
