.infoblock {
  margin: 20px;
  padding: 10px;

  color: $color-detail;
  background-color: $color-base;
  border-radius: 6px;

  font-size: 14px;
  line-height: 1;
}

.infoblock__title {
  margin: 0;
  padding: 0;

  margin-bottom: 25px;
  min-height: 70px;

  font-weight: normal;
}

.infoblock__items {
  margin-bottom: 20px;
}

.infoblock__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 0 12px 0;
  padding: 0 0 3px 0;

  border-bottom: 1px dotted $color-minor;

  &:hover {
    border-color: $color-hover-1;
  }
}

.infoblock__key {
  &::first-letter {
    text-transform: uppercase;
  }
}

.infoblock__control {
  margin-bottom: 3px;
}

.infoblock__btn-close {
  display: block;
  margin-left: auto;

  color: $color-detail;
  background-color: $color-base;
  border-bottom: 1px dotted transparent;

  &:hover,
  &:focus {
    color: $color-hover-0;
    border-color: $color-hover-0;
  }
}
