.blog-error {
  text-align: center;
  color: $color-base;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 20%;
}

.blog-spinner {
  text-align: center;
  color: $color-util;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 20%;
}
