.posts-error {
  text-align: center;
  color: $color-base;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 15%;
}

.auth-error__message {
  color: $color-common;
  text-align: center;
}

.auth-error__sign {
  border: 1px solid $color-common;
  color: $color-common;
  width: 35px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  line-height: 35px;
}
