.bg_skyblue {
  background-color: skyblue;
}

.bg_salmon {
  background-color: salmon;
}

.bg_darkgreen {
  background-color: darkgreen;
}

.bg_orange {
  background-color: orange;
}

.bg_violet {
  background-color: violet;
}

.bg_darkorchid {
  background-color: darkorchid;
}

.color--skyblue {
  color: skyblue;
}

.color--salmon {
  color: salmon;
}

.color--darkgreen {
  color: darkgreen;
}

.color--orange {
  color: orange;
}

.color--violet {
  color: violet;
}

.color--darkorchid {
  color: darkorchid;
}
