.widgets-accordion {
  border: 1px solid $color-hue-2;
  border-radius: 6px;
}

.widgets-accordion__term,
.widgets-accordion__term--active {
  padding: 17px 16px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-hue-2;
    outline: none;
  }
}

.widgets-accordion__term {
  &:hover,
  &:focus {
    & .widgets-accordion__title::before {
      border-left-color: $color-hue-0;
    }
  }
}

.widgets-accordion__title {
  position: relative;
  padding-left: 20px;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 10px solid $color-hue-2;
    border-bottom: 6px solid transparent;
  }
}

.widgets-accordion__term--active {
  background-color: $color-hue-2;

  & .widgets-accordion__title::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid $color-hue-0;
    top: 5px;
    left: -2px;
  }
}

.widgets-accordion__definition {
  display: none;

  &--active {
    display: block;
    margin: 0;
    padding: 16px 16px 16px 37px;
    color: $color-hue-3;
  }
}
